/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

/* Root */
:root {
    --primary: #b4d0e6;
    --light: #fff;
    --dark: #000;
    --buttons: #0061fe;
}

/* Attributes */
[class^="col"] {
    padding: 1rem;
}

/* Generics */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background-color: var(--buttons);
    color: var(--light);
    padding: 0.4rem 0.8rem;
    border: none;
    cursor: pointer;
}

h1 {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

/* Utils */
.container {
    max-width: 1200px;
    width: 65%;
    margin: 0 auto;
}

.container-sm {
    max-width: 800px;
    width: 65%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.col {
    width: auto;
    flex-basis: auto;
}

.col-1 {
    width: calc(100% / 12 * 1);
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-3 {
    width: calc(100% / 12 * 3);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-5 {
    width: calc(100% / 12 * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 * 7);
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-9 {
    width: calc(100% / 12 * 9);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-11 {
    width: calc(100% / 12 * 11);
}

.col-12 {
    width: 100%;
}

/* Header */
header {
    background-color: #fff;
    font-size: 0.8rem;
    padding: 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
        
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        #logo {
            margin-right: 1rem;
            height: 1.3rem;
        }
    }
    
    ul {
        display: flex;
        gap: 1.5rem;

        a {
            color: var(--dark);
        }
    }
}

.nav-left,
.nav-right {
    align-items: center;
}

/* Main */
main {
    background-color: var(--primary);
    height: 33rem;
    padding: 3rem;

    p {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }

    button {
        margin-bottom: 1.5rem;
    }

    img {
        height: 22rem;
        object-fit: cover;
    }
}

i {
    font-size: 2rem;
    margin-top: 1rem;
}

/* Tariff Plans */
.tariff-plans {
   padding: 2rem 0;

   h2 {
    font-size: 2.25rem;
    margin-bottom: 3rem;
   }

   .monthly-billing {
    margin-right: 3rem;
    }

   h3 {
    font-size: 0.7rem;
    font-weight: normal;
   }

   .option {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 0.2rem;
    vertical-align: middle;
    cursor: pointer;
    }

    .monthly {
    border: 4px solid var(--buttons);
    }
}

/* Card */
.card {
    
    h4 {
        font-size: 0.9rem;
        text-align: center;
        font-weight: normal;
        border: 1px solid #000;
        padding-bottom: 1rem;
    }

    h3 {
        font-weight: 900;
        margin-top: 0.5rem;
    }
    
    li {
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    i {
        font-size: 0.8rem;
        margin-right: 0.5rem;
    }

    .details {
        border: 1px solid #000;
        padding: 2rem;
        height: 866.4px;
    }

    a {
        text-decoration: underline;
    }

    p {
        color: gray;
    }

    button {
        margin-top: 1rem;
        width: 100%;
    }

    .price {
        font-size: 0.7rem;
        font-weight: 900;
    }

    .highlights {
        font-weight: 900;
    }

    .fa-check {
        color: blue;
    }

    .fa-arrow-down {
        color: #000;
    }
    
    hr {
        width: 20%;
        margin: 2rem 0;
    }
}